flask>=2.3.0,<4.0.0
flask-limiter>=3.0.0
flask-admin>=1.6.0
flask-sqlalchemy>=3.0.0
flask-login>=0.6.0
sqlalchemy>=2.0.0
requests>=2.31.0
pyyaml>=6.0.1
python-dotenv>=1.0.0
bcrypt>=4.0.0
email-validator>=2.0.0
wtforms>=3.0.0


# for testing /mcp integration
fastmcp>=2.13
mcp[cli]>=1.21
typer

pytest>=9.0
pytest-asyncio>=1.3
