{% extends 'admin_base.html' %}
{% import 'admin/lib.html' as lib with context %}

{% block page_title %}{{ admin_view.name }}{% endblock %}

{% block extra_head %}
{{ super() }}
{{ lib.form_css() }}
{% endblock %}

{% block admin_content %}
<div class="d-flex justify-content-between align-items-center mb-4">
    <h1>Edit {{ admin_view.name }}</h1>
    <a href="{{ return_url }}" class="btn btn-outline">Cancel</a>
</div>

<div class="card">
    <div class="card-body">
        {% block edit_form %}
        <form action="{{ return_url }}" method="POST" class="admin-form" enctype="multipart/form-data">
            {{ lib.render_form(form, return_url, extra_args, form_opts) }}
        </form>
        {% endblock %}
    </div>
</div>
{% endblock %}

{% block extra_scripts %}
{{ super() }}
{{ lib.form_js() }}
{% endblock %}
